
body{
    background-color:greenyellow;
    background-image:url(../images/bg.jpg);
        background-size:cover;
    }





header{
    width:700px;
    border:1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    
   
}
h1{font-family: monospace;
    font-size:22px; 
    color:blue;
    text-align: center;
}
li{font-family:inherit;
    color:aquamarine;
    font-size:19px;}
main{
    
width:700px;
  
    border: 1px green dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    
        }

footer{
        width:700px;
       
        border: 1px brown double;
        margin:0 auto;
    background-color: beige;
   
}
p{ font-size: 30px;
font-family: cursive;
color: dimgray;}
a{
    font-family: fantasy;
    font-size: 36px;
  
}
a:link{
    color:deeppink;
}
a:visited{
    color:fuchsia;
}
a:hover{
    color:firebrick;
}
a:active{
    color:yellow;
}